@font-face {
  font-family: "Permanent Marker";
  src: local("Permanent Market", url("./fonts/PermanentMarker-Regular.ttf") format("truetype"));
}

.About-Box {
    min-height: 90vmin;
    display: flex;
    padding: 0 15%;
  }
  
.Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 40%;
  text-align: left;
}

.Image {
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
