.App {
  text-align: center;
  font-family: "Garamond";
  font-size: calc(8px + 1vmin);
}


.Bottom-Navigation {
  min-height: 10vmin;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
}
